.air-craft {
  background: url('../images/valkirya.png');
  background-size: 100% 100%;
  height: 57px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 228px;
}

#fa18i {
  background: url('../images/fa18i.png');
  background-size: 100% 100%;
  height: 50px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 200px;
}

#fa25c {
  background: url('../images/fa25c.png');
  background-size: 100% 100%;
  height: 37px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 200px;
}

#fa45n {
  background: url('../images/fa45n.png');
  background-size: 100% 100%;
  height: 34px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 200px;
}

.bullet {
  background: url('../images/bullet.png');
  background-size: 100% 100%;
  height: 6px;
  position: absolute;
  width: 45px;
}

@keyframes animate-background {
  from {
    background-position: 0px;
  }
  to {
    background-position: -1370px;
  }
}

@keyframes face-forward {
  0% { background-position: 100% 100%;  }
  100% { background-position: 100% 100%;  }
}

@keyframes fire-valkirya {
  0% {
    background: url('../images/valkirya-shoot.png');
    background-size: 100% 100%;
  }
  50% {
    background: url('../images/valkirya.png');
    background-size: 100% 100%;
  }
  100% {
    background: url('../images/valkirya-shoot.png');
    background-size: 100% 100%;
  }
}

@keyframes fire-fa18i {
  0% {
    background: url('../images/fa18i-shoot.png');
    background-size: 100% 100%;
  }
  50% {
    background: url('../images/fa18i.png');
    background-size: 100% 100%;
  }
  100% {
    background: url('../images/fa18i-shoot.png');
    background-size: 100% 100%;
  }
}

@keyframes fire-fa25c {
  0% {
    background: url('../images/fa25c-shoot.png');
    background-size: 100% 100%;
  }
  50% {
    background: url('../images/fa25c.png');
    background-size: 100% 100%;
  }
  100% {
    background: url('../images/fa25c-shoot.png');
    background-size: 100% 100%;
  }
}

@keyframes fire-fa45n {
  0% {
    background: url('../images/fa45n-shoot.png');
    background-size: 100% 100%;
  }
  50% {
    background: url('../images/fa45n.png');
    background-size: 100% 100%;
  }
  100% {
    background: url('../images/fa45n-shoot.png');
    background-size: 100% 100%;
  }
}

@keyframes burst
{
    from {
        left: 0;
    }
    to {
        left: calc(100% - 26px);
    }
}
