.show-room {
  background-color: rgba(255, 255, 255, 0.25);
  border: 2px solid white;
  border-radius: 10px;
  float: right;
  height: 470px;
  margin-right: 80px;
  padding: 0 20px 20px 20px; 
  width: 300px;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 50%;
}

a.control_next {
  right: 0;
  border-radius: 50%;
}

#presentation {
  display: block;
}

#slider {
  display: none;
}

.select-button {
  background: rgba(0, 0, 0, 0.25);
  bottom: 15px;
  display: block;
  left: 95px;
  padding: 10px;
  position: absolute;
  width: 180px;
}
