@import 'panel.css';

html, body {
  font-family: 'Nova Square';
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

a {
  color: rgba(255, 255, 255, .5);
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.title-app {
  color: #fff;
  font-size: 36px;
  text-align: center;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav li {
  margin: 0;
  padding: 10px 0;
}

.nav li a {
  font-size: 24px;
}

.main {
  background: url('../images/background-02.jpg') no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  width: 100%;
}

.logo {
  background: url('../images/background-top.jpg') no-repeat;
  background-size: cover;
  height: 100px;
  width: 100%;
  text-align: center;
}

.logo img {
  margin: 10px auto;
}

.row {
  padding: 20px 0;
  width: 100%;
}

.row::after,
.row::before {
  clear: both;
  content: "";
  display: table;
  height: 0;
  width: 0;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  text-align: center;
}

.scenario {
  animation: animate-background linear 5s infinite;
  background: url('../images/background-01.png') repeat-x;
  background-size: 100% 100%;
  height: 100%;
  margin: 0;
  width: 100%;
}

.air-craft {
  background: url('../images/valkirya.png');
  background-size: 100% 100%;
  height: 57px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 228px;
}

.fa18i {
  background: url('../images/valkirya.png');
  background-size: 100% 100%;
  height: 50px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 200px;
}

.bullet {
  background: url('../images/bullet.png');
  background-size: 100% 100%;
  height: 6px;
  position: absolute;
  width: 26px;
}

@keyframes animate-background {
  from {
    background-position: 0px;
  }
  to {
    background-position: -1370px;
  }
}

@keyframes face-forward {
  0% { background-position: 228px 228px;  }
  100% { background-position: 228px 228px;  }
}

@keyframes fire {
  0% {
    background: url('../images/valkirya-shoot.png');
    background-size: 100% 100%;
  }
  50% {
    background: url('../images/valkirya.png');
    background-size: 100% 100%;
  }
  100% {
    background: url('../images/valkirya-shoot.png');
    background-size: 100% 100%;
  }
}

@keyframes fire-fa18i {
  0% {
    background: url('../images/fa18i-shoot.png');
    background-size: 100% 100%;
  }
  50% {
    background: url('../images/fa18i.png');
    background-size: 100% 100%;
  }
  100% {
    background: url('../images/fa18i-shoot.png');
    background-size: 100% 100%;
  }
}

@keyframes burst
{
    from {
        left: 0;
    }
    to {
        left: calc(100% - 26px);
    }
}
